<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="LinkGenConect" value="http://pixeon02-app.pleres.net:9812/#/login"/>
		<add key="LinkSisgeno" value="https://sisgeno.aids.gov.br/"/>
		<add key="cpfSisgeno" value=""/>
		<add key="SenhaSisgeno" value=""/>
		<add key="EmailGenConect" value=""/>
		<add key="SenhaGenConect" value=""/>
	</appSettings>
</configuration>